<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.morrow.modules.sys.mapper.SysDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.morrow.modules.sys.entity.SysDept">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="pids" property="pids" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="creator" property="creator" />
        <result column="create_date" property="createDate" />
        <result column="updater" property="updater" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, pids, name, sort, creator, create_date, updater, update_date
    </sql>

</mapper>
