<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.morrow.modules.sys.mapper.SysParamsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.morrow.modules.sys.entity.SysParams">
        <id column="id" property="id" />
        <result column="param_code" property="paramCode" />
        <result column="param_value" property="paramValue" />
        <result column="param_type" property="paramType" />
        <result column="remark" property="remark" />
        <result column="creator" property="creator" />
        <result column="create_date" property="createDate" />
        <result column="updater" property="updater" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, param_code, param_value, param_type, remark, creator, create_date, updater, update_date
    </sql>

</mapper>
