<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.morrow.modules.sys.mapper.SysRoleDataScopeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.morrow.modules.sys.entity.SysRoleDataScope">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="dept_id" property="deptId" />
        <result column="creator" property="creator" />
        <result column="create_date" property="createDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_id, dept_id, creator, create_date
    </sql>

</mapper>
